/ Carousel
/ \==================================================
#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner
    .item.active#item-1
      .container
        .carousel-caption
          %h1 Save Mother Earth
          %p Invest in the future by retrofitting the past
          %p
            =button_to "Sign up!", new_user_registration_path, method: :get, class: "btn btn-lg btn-success"
    .item#item-2
      .container
        .carousel-caption
          %h1 Retrofits Made Easy
          %p Find and fund the most valuable projects for your home
          %p
            =button_to "Sign up!", new_user_registration_path, method: :get, class: "btn btn-lg btn-success"
    .item#item-3
      .container
        .carousel-caption
          %h1 Our Guarantee
          %p If you aren't happy with our work, we'll fix it or issue a full refund.
          %p
            =button_to "Sign up!", new_user_registration_path, method: :get, class: "btn btn-lg btn-success"
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-right
/ /.carousel
/
/ Marketing messaging and featurettes
/ \==================================================
/ Wrap the rest of the page in another container to center all the content.
.container.marketing
  / Three columns of text below the carousel
  .row
    .col-lg-4
      =image_tag("al.png", size: "140x140", class: "img img-circle")
      %h2 Alan
      %h4.text-muted Solana Beach, CA
      %p These guys know their stuff!
    / /.col-lg-4
    .col-lg-4
      =image_tag("sandy.png", size: "140x140", class: "img img-circle")
      %h2 Sandy
      %h4.text-muted San Francisco, CA
      %p My home is more beautiful, more valuable and more efficient than ever before!
    / /.col-lg-4
    .col-lg-4
      =image_tag("dustin.png", size: "140x140", class: "img img-circle")
      %h2 Dustin
      %h4.text-muted Dallas, TX
      %p Five. Stars.
    / /.col-lg-4
  .row.more-reviews
    %p
      %a.btn.btn-default{:href => "#"} More reviews »
  / START THE FEATURETTES
  %hr.featurette-divider/
  .row.featurette
    .col-md-5
      =image_tag("tools.png", class:"img featurette-image img-responsive")
    .col-md-7
      %h2.featurette-heading
        Our services
      %p.lead Retrofund is a crowdfunding platform for green energy home retrofits like window heater, and AC unit replacement.  We make it dead simple to find and fund retrofit projects that have the greatest financial and environmental impact.
  %hr.featurette-divider/
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        Why Retrofund?
      %h3.text-muted 
      %p.lead The satisfaction of our clients drives every decision we make.  Our staff is dedicated to making your experience enjoyable.  In the unlikely event that you are unhappy with services rendered by a contractor, we will gladly send someone back to make it right.
    .col-md-5
      =image_tag("leaves.png", class:"img featurette-image img-responsive")
  %hr.featurette-divider/
  .row.featurette
    .col-md-5
      =image_tag("tools.png", class:"img featurette-image img-responsive")
    .col-md-7
      %h2.featurette-heading
        Why else?
      %h3.text-muted The Best Environmental Experts in Town
      %p.lead Our reputation is based on the quality of our work.  Every environmental consultant comes prepared with equipment and experience.  We thoroughly profile your home and energy usage to find the projects that make the most sense to you.
  %hr.featurette-divider/
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        About us
      %p.lead Retrofund came into being at a Hack City hackathon, a 24-hour codefest that turned into a 24/7 sprint to build out the platform we have today.  Our founders, Addison Huddy, Tomas Janusas, Tim Quijano and Mitch Seaman, care deeply about reducing our impact on the environment.  Our goal is to shrink carbon footprints and energy bills workdwide, one retrofit at a time.
    .col-md-5
      =image_tag("bros.png", class:"img featurette-image img-responsive")
  %hr.featurette-divider/
  / /END THE FEATURETTES