/ Carousel
/ \==================================================
#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner
    .item.active#item-1
      .container
        .carousel-caption
          %h1 Friendly, reliable Service
          %p Your professional landscaper will arrive on time, communicate effectively and do the job right.
          %p

            =button_to "Sign up!", new_user_registration_path, method: :get, class: "btn btn-large btn-primary"
            / %a.btn.btn-large.btn-primary{:href => "#"} Sign up today
    .item#item-2
      .container
        .carousel-caption
          %h1 Hassle-Free Pricing
          %p Pay through our web interface - no checks, cash, or haggling.
          %p
            %a.btn.btn-large.btn-primary{:href => "#"} Learn more
    .item#item-3
      .container
        .carousel-caption
          %h1 Our Guarantee
          %p If you aren't happy with our work, we'll fix it or give your money back.
          %p
            %a.btn.btn-large.btn-primary{:href => "#"} More
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-right
/ /.carousel
/
/ Marketing messaging and featurettes
/ \==================================================
/ Wrap the rest of the page in another container to center all the content.
.container.marketing
  / Three columns of text below the carousel
  .row
    .col-lg-4
      =image_tag("sandy.png", size: "140x140", class: "img img-circle")
      %h2 Sandy
      %h4.text-muted Rancho Penasquitos
      %p I recommend this company to anyone who asks - they're the picture of reliability and excellent work.
      %p
        %a.btn.btn-default{:href => "#"} View details »
    / /.col-lg-4
    .col-lg-4
      =image_tag("al.png", size: "140x140", class: "img img-circle")
      %h2 Alan
      %h4.text-muted Solana Beach
      %p I've never been so impressed with contracting work.  These guys know their stuff!
      %p
        %a.btn.btn-default{:href => "#"} View details »
    / /.col-lg-4
    .col-lg-4
      =image_tag("dustin.png", size: "140x140", class: "img img-circle")
      %h2 Dustin
      %h4.text-muted Encinitas
      %p Five. Stars.
      %p
        %a.btn.btn-default{:href => "#"} View details »
    / /.col-lg-4
  / /.row
  / START THE FEATURETTES
  %hr.featurette-divider/
  .row.featurette
    .col-md-5
      =image_tag("tools.png", class:"img featurette-image img-responsive")
    .col-md-7
      %h2.featurette-heading
        Our services
      %p.lead Trim offers maintenance landscaping including lawn mowing, hedge trimming, watering, routine sprinkler maintenance and related services.  For larger jobs, please call us and we'll happily refer you to a contractor.
  %hr.featurette-divider/
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        Why Trim?
      %h3.text-muted Guaranteed Happiness
      %p.lead The satisfaction of our clients drives every decision we make.  Our office and landscaping staff is dedicated to making your experience enjoyable.  In the unlikely event that you are unhappy with services rendered by a Trim landscaper, we will gladly send someone back to make it right.
    .col-md-5
      =image_tag("leaves.png", class:"img featurette-image img-responsive")
  %hr.featurette-divider/
  .row.featurette
    .col-md-5
      =image_tag("tools.png", class:"img featurette-image img-responsive")
    .col-md-7
      %h2.featurette-heading
        Why Else?
      %h3.text-muted The Best Landscapers in Town
      %p.lead Our reputation is based on the quality of our landscapers' work.  Every landscaper comes prepared with equipment and experience.  We thoroughly screen landscapers to ensure their experience and trustworthiness, so you can rest easy knowing that your yard will be managed by a pro.
  %hr.featurette-divider/
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        About us - 
        %span.text-muted the dream team
      %p.lead Sean and Mitch Seaman started Trim to provide simple, reliable landscaping services to homeowners.  Our goal is to streamline your services so that you can spend less time worrying about your home and more time enjoying it.
    .col-md-5
      =image_tag("bros.png", class:"img featurette-image img-responsive")
  %hr.featurette-divider/
  / /END THE FEATURETTES